{% spaceless %}
    <table style="width:100%" cellspacing="0" cellpadding="1" border="0">
        <tr>
            <td style="width:35%; font-weight: bold;">Ad Soyad:</td>
            <td style="width:65%;">{{ insurer_name }}</td>
        </tr>
        <tr>
            <td style="width:35%; font-weight: bold;">Tarih:</td>
            <td style="width:65%;">{{ signing_date }}</td>
        </tr>
    </table>
{% endspaceless %}
