{% spaceless %}
    <table style="width:100%" cellspacing="0" cellpadding="1" border="0">
        {% for endorsed in endorseds %}
            <tr>
                <td valign="middle" style="{% if not loop.last %}border-bottom: 1px solid #25a9df; {% endif %}text-align: left; vertical-align: middle;">{{ endorsed.name }}</td>
                <td valign="middle" style="{% if not loop.last %}border-bottom: 1px solid #25a9df; {% endif %}text-align: right; vertical-align: middle;">%{{ endorsed.percent }}</td>
            </tr>
        {% endfor %}
    </table>
{% endspaceless %}
